DATABASE_URL=postgres://username:password@localhost:5432/itlearn?sslmode=disable
SECRET="" # Generate using `openssl rand -hex 32` and set it here
APP_BASE="" # Where the app will be hosted, e.g. https://example.com, http://localhost:5173, etc.